<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baidu.idl.facesdkdemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 开机自动允许	允许程序开机自动运行 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="design_width_in_dp"
            android:value="800" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1280" />

        <activity
            android:name="com.baidu.idl.face.main.activity.start.TranslucentActivity"
            android:theme="@style/TranslucentStyle" />
        <activity android:name="com.baidu.idl.face.main.activity.start.ActivitionActivity" />
        <activity android:name="com.baidu.idl.face.main.activity.start.HomeActivity" />
        <activity android:name="com.baidu.idl.face.main.activity.start.SDCardFileImportOffline" />
        <activity android:name="com.baidu.idl.face.main.activity.start.SDCardFileImportOfflineCompare" />
        <activity android:name="com.baidu.idl.face.main.activity.start.StartSettingActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.OfflinePerationSettingActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.GateFaceDetectActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.VersionMessageActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.CameraDisplayAngleActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.FaceDetectAngleActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.MirrorSettingActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.FaceLivinessTypeActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.GateConfigQualtifyActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.GateMinFaceActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.GateLensSettingsActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.GateLensSelectionActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.GateSettingActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.LogSettingActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.PictureOptimizationActivity" />
        <activity android:name="com.baidu.idl.face.main.activity.gate.FaceRGBGateActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.ServiceSettingActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.IpAddressActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.SDCardFileExplorerTestActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.OtherSettingActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.SDCardFileExplorerActivity" />
        <activity android:name="com.baidu.idl.face.main.setting.RelayActivity" />


        <activity
            android:name="com.baidu.idl.face.main.activity.start.StartActivity"
            android:launchMode="singleTop">

            <!-- android:theme="@style/Theme_NoTitle"> -->
            <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 开机启动 -->
        <receiver
            android:name="com.baidu.idl.face.main.service.BootReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- 优先级拉到最低，防止软件启动完毕，系统组件还未加载完成，导致报错 -->
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver> <!-- 安全设备指纹接入 start -->
        <activity
            android:name="com.baidu.liantian.LiantianActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="standard"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.baidu.liantian.LiantianReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.baidu.liantian.LiantianProvider"
            android:authorities="com.baidu.idl.face.demo.liantian.ac.provider"
            android:exported="false" /> <!-- <service android:name="com.baidu.idl.face.main.socket.SocketService" /> -->
        <service
            android:name="com.baidu.liantian.LiantianService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


        <service
            android:name="com.baidu.idl.face.main.service.TcpService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="seckey_avscan"
            android:value="660346260f8a841a04ec2a56815b421b" />
        <meta-data
            android:name="appkey_avscan"
            android:value="100034" />
    </application>

</manifest>